<h1>COMPANYREGISTRATION PAGE</h1>





<form class="" action="/company/companyRegistration" method="post">
{% csrf_token %}
<input type="text"  placeholder='Company Name' name="company_name" value="">
<input type="text"  placeholder='sector' name="sector" value="">
<input type="text"  placeholder='website' name="website" value="">
<input type="text"  placeholder='about_company' name="about_company" value="">
<input type="text"  placeholder='email' name="email" value="">
<input type="password"  placeholder='password' name="password" value="">


<button type="submit" name="button">Submit</button>


</form>
